<a href="https://colab.research.google.com/github/mnshcodie/IIScEx_2021/blob/main/CDS_B2_20210509.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the sum of multiples of 3 or 5 below 1000

In [ ]:
# Project Euler Problem 1
LIMIT = 1000
n, total = 1, 0
while n < LIMIT:
    if n % 3 == 0 or n % 5 == 0:
        total += n
    n += 1
print(total)

In [ ]:
LIMIT = 1000
total = 0
for n in range(1, LIMIT):
    if n % 3 == 0 or n % 5 == 0:
        total += n
print(total)

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [ ]:
LIMIT = 1000
n, total = 1, 0
while n < LIMIT:
    if select(n):
        total += n
    n += 1
print(total)

In [ ]:
LIMIT = 1000
total = 0
for n in range(1, LIMIT):
    if select(n):
        total += n
print(total)

In [ ]:
LIMIT = 1000
sum(range(3, LIMIT, 3)) + sum(range(5, LIMIT, 5)) - sum(range(15, LIMIT, 15))

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(7, 20))

In [ ]:
list(range(34, 100, 7))

In [ ]:
sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

In [ ]:
sum([x for x in range(1, LIMIT) if select(x)])

In [ ]:
[x * x + 1 for x in range(10)]

In [ ]:
[y * y + 1 for y in range(10)]

In [ ]:
sum(filter(select, range(1, LIMIT)))

In [ ]:
filter?

In [ ]:
sum?

In [ ]:
print?

In [ ]:
def even(n: int) -> bool:
    return n % 2 == 0

In [ ]:
list(filter(even, range(20)))

In [ ]:
sum(filter(even, range(20)))

In [ ]:
even?

In [ ]:
even??

Find the sum of all primes below two million

In [ ]:
LIMIT = 2000000

In [ ]:
def is_prime(n: int) -> bool:
    if n < 2:
        return False
    if n in [2, 3, 5, 7]:
        return True
    if n % 2 == 0:
        return False
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True

In [ ]:
sum(filter(is_prime, range(LIMIT)))

In [ ]:
2 + sum(filter(is_prime, range(3, LIMIT, 2)))

The prime factors of 13195 are 5, 7 13 and 29

What is the largest prime factor of 600851475143

In [ ]:
def factorize(n: int) -> [int]:
    factors = []
    while n % 2 == 0:
        factors.append(2)
        n //= 2
    factor = 3
    while n > 1:
        while n % factor == 0:
            factors.append(factor)
            n //= factor
        factor += 2
    return factors

In [ ]:
factorize(13195)

In [ ]:
factorize(600851475143)

In [ ]:
max(factorize(600851475143))

In [ ]:
list(filter(is_prime, range(50)))

In [ ]:
print(filter(is_prime, range(50)))

In [ ]:
def is_perfect_cube(n: int) -> bool:
    r = 0
    while r * r * r < n:
        r += 1
    return r * r * r == n

In [ ]:
is_perfect_cube(27)

In [ ]:
is_perfect_cube(1)

In [ ]:
def is_power_of2(n: int) -> bool:
    if n == 1:
        return True
    if n % 2 == 1:
        return False
    return is_power_of2(n // 2)

In [ ]:
is_power_of2(64)

In [ ]:
def hermione(how_many: int) -> [int]:
    a, b = 0, 1
    potter = []
    for _ in range(how_many):
        potter.append(a)
        a, b = b, a + b
    return potter

In [ ]:
hermione(7)

In [ ]:
def triangular(n):
    def odd(n):
        return n % 2 == 1
    return sum(filter(odd, range(n)))

In [ ]:
triangular(10)

In [ ]:
odd(8)

In [ ]:
def weasely(n):
    while n > 0:
        if n % 2 == 1:
            return False
        n //= 10
    return True

In [ ]:
def snapes(n):
    s = []
    while n > 0:
        s.append(n % 10) # use s.insert(0, n  % 10)to get in right order
        n //= 10
    return s

In [ ]:
t = [1, 2, 3]

In [ ]:
t.append(10)

In [ ]:
t

In [ ]:
t.insert(1, 12)

In [ ]:
t

In [ ]:
t.insert(0, -2)

In [ ]:
t

In [ ]:
[gauss(x) for x in np.arange(...)]

### List of useful add-ons
$\LaTeX$  for scientific publishing, writing papers and reports

$\LyX$ A WYSIWIG editor with LaTeX as the backend

Overleaf -- an online site/editor for LaTeX

### Libraries

numpy -- for efficient arrays. COre infrastructure library; rarely used directly

scipy -- for scientific computation, Linear Algebra, FFT, Stats, OPtimization, DE solving ....

sympy -- for symbolic computation

scikit learn -- for machine learning algorithms

In [ ]:
def get_primes(k):
    yield 2
    yield 3
    n = 5
    count = 2
    while count < k:
        if is_prime(n):
            yield n
            count += 1
        n += 2

def is_prime(n: int) -> bool:
    if n < 2:
        return False
    if n in [2, 3, 5, 7]:
        return True
    if n % 2 == 0:
        return False
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True

In [ ]:
for n in get_primes(10):
    print(n, end = " ")

In [ ]:
for n in get_primes(7):
    print(n, end = " ")

In [ ]:
a = get_primes(10)

In [ ]:
for i in a:
    print(i)

In [ ]:
for i in a:
    print(i)

In [ ]:
a = get_primes(20)

In [ ]:
for i, p in enumerate(a):
    print(p, end = " ")
    if i > 9:
        break

In [ ]:
for k in a:
    print(k, end = " ")

In [ ]:
k = 0.45
n = 7
EPSILON = 0.000000001
while abs(n - 16) > EPSILON:
    n += k
    print(n)