<a href="https://colab.research.google.com/github/mnshcodie/IIScEx_2021/blob/main/DLFA_01_20210418.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python
## Arguably the most enjoyable language to code in
## Definitely *the* language for scientific computing

In [ ]:
!python --version

Find the sum of all the multiples of 3 or 5 below 1000

In [ ]:
LIMIT = 1000
num, total = 1, 0
while num < LIMIT:
    if num % 3 == 0 or num % 5 == 0:
        total += num
    num += 1
print(total)

In [ ]:
LIMIT = 1000
total = 0
for num in range(LIMIT):
    if num % 3 == 0 or num % 5 == 0:
        total += num
print(total)

In [ ]:
range?

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [ ]:
LIMIT = 1000
num, total = 1, 0
while num < LIMIT:
    if select(num):
        total += num
    num += 1
print(total)

In [ ]:
LIMIT = 1000
total = 0
for num in range(LIMIT):
    if select(num):
        total += num
print(total)

In [ ]:
range(7)

In [ ]:
list(range(7))

In [ ]:
list(range(10, 18))

In [ ]:
list(range(45, 234, 19))

In [ ]:
sum(range(3, LIMIT, 3)) + sum(range(5, LIMIT, 5)) - sum(range(15, LIMIT, 15))

In [ ]:
sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

In [ ]:
sum([_ for _ in range(LIMIT) if select(_)])

In [ ]:
[x * 3 for x in range(12)]

In [ ]:
[a * a - 2 for a in range(4, 22, 3)]

In [ ]:
po = [1, 3.14159265, "Hello", [3, 4]]

In [ ]:
po

$S' = \{\phi(x) | x \in S, p(x)\}$

In [ ]:
S1 = [phi(x) for x in S if p(x)]

In [ ]:
sum(filter(select, range(LIMIT)))

In [ ]:
sum(filter(lambda x: x % 3 == 0 or x % 5 == 0, range(LIMIT)))

**filter(f, S)** = [x for x in S if f(x)]

In [ ]:
type(select)

In [ ]:
type([1, 3, 4])

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [ ]:
test = 13195
def factorize(n: int) -> [int]:
    if n < 2:
        return []
    factors = []
    while n % 2 == 0:
        factors.append(2)
        n //= 2 # same as n = n // 2

    factor = 3
    while n > 2:
        while n % factor == 0:
            factors.append(factor)
            n //= factor
        factor += 2
    return factors
factorize(12)

2520 is the smallest number that can be divided by each of the numbers from
1 to 10 without any remainder.
What is the smallest positive number that is evenly divisible by all of the
numbers from 1 to 20?

In [ ]:
## BAD CODE
START = 2520
num, found = START, False
while not found:
    for factor in range(2, 21):
        if num % factor != 0:
            num += 1
            break
    else:
        found = True

In [ ]:
num

In [ ]:
def gcd(a: int, b: int) -> int:
    if a % b == 0:
        return b
    return gcd(b, a % b)

def lcm(a: int, b: int) -> int:
    return (a * b) // gcd(a, b)

In [ ]:
lcm(16, 14)

In [ ]:
def lcml(a: [int]) -> int:
    if len(a) == 1:
        return a[0]
    if len(a) == 2:
        return lcm(a[0], a[1])
    return lcm(a[0], lcml(a[1:]))

In [ ]:
lcml(range(1, 11))

In [ ]:
lcml(range(1, 21))

In [ ]:
7/3

In [ ]:
7//3

In [ ]:
f = [0, 1, 1, 2, 3, 5, 8]
p = [2, 3, 4, 7, 11, 13, 17]

In [ ]:
f[0], f[3], p[-1]

In [ ]:
f[10], p[-8]

In [ ]:
f[1:4]

In [ ]:
f[1:]

In [ ]:
f[1:-1]

In [ ]:
ff = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
ff[::2]

In [ ]:
ff[3:10:3]

In [ ]:
ff[3:10]

In [ ]:
p[:4]

In [ ]:
p[3:]

In [ ]:
ff

In [ ]:
ff[::-1]

In [ ]:
ff[::-2]

In [ ]:
a1 = [1, 6, -2, "Hello"]

In [ ]:
a1.append(3.4)

In [ ]:
a1

In [ ]:
def is_perfect_square(n):
    r = 0
    while r * r < n:
        r += 1
    return r * r == n

In [ ]:
def is_power_of2(n: int) -> bool:
    r = 0
    while 2 ** r < n:
        r += 1
    return 2 ** r == n

In [ ]:
def are_all_digits_even(n):
    while n > 0:
        if n % 2 == 1:
            return False
        n //= 10
    return True

In [ ]:
are_all_digits_even(2222)

In [ ]:
176/10

In [ ]:
def all_even(n: int) -> bool:
    return all(ch in "02468" for ch in str(n))

In [ ]:
all_even(244), all_even(126846)

In [ ]:
all([_ in "02468" for _ in "1768"])

In [ ]:
any([_ in "02468" for _ in "1768"])

In [ ]:
def odd_even(n: int) -> str:
    return "Odd" if n % 2 == 1 else "Even"

def classify_digits(n: int) -> [str]:
    return [odd_even(int(ch)) for ch in str(n)]

In [ ]:
classify_digits(1729)

In [ ]:
from functools import reduce

In [ ]:
reduce?

In [ ]:
reduce(lcm, range(1, 11), 1)

reduce(lcm, [1, 2, 3, 4, 5, 6])
==> reduce(lcm, [lcm(1, 2), 3, 4, 5, 6])
==> reduce(lcm, [2, 3, 4, 5, 6]
==> reduce(lcm, [lcm(2, 3), 4, 5, 6])
==> reduce(lcm

reduce(f, a) -> reduce(f, [f(a[0], a[1]), a[2] ...])

In [ ]:
reduce(lcm, range(11, 21), 2520)

map(f, a) --> [f(a[0]), f(a[1]) ... f(a[-1])]

[f(x) for x in a]